<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.muslima">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcheralazwaj"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.OtherPagesWebViewActivity"></activity>
        <activity android:name=".Activities.SuccessStoryActivity" />
        <activity android:name=".Activities.InterestActivity" />
        <activity android:name=".Activities.NotificationActivity" />
        <activity android:name=".Activities.ProfileSettingActivity" />
        <activity android:name=".Activities.ViewProfileActivity" />
        <activity android:name=".Activities.ChangeEmailActivity" />
        <activity android:name=".Activities.ChangePasswordActivity" />
        <activity android:name=".Activities.MyNewProfileActivity" />
        <activity android:name=".Activities.OtherPageActivity" />
        <activity android:name=".Activities.HelpActivity" />
        <activity android:name=".Activities.SettingActivity" />
        <activity android:name=".Activities.MyProfileActivity" />
        <activity android:name=".Activities.SearchActivity" />
        <activity android:name=".Activities.MessageActivity" />
        <activity android:name=".Activities.TestimonialActivity" />
        <activity android:name=".Activities.GalleryActivity" />
        <activity android:name=".Activities.HomeActivity" />
        <activity android:name=".Activities.ForgotPasswordActivity" />
        <activity android:name=".Activities.PopActivity" />
        <activity
            android:name=".Activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.NavigationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
    </application>

</manifest>